.signinButton {
  position: relative;
  border-radius: 20px;
  height: 35px;
  padding-top: 0;
  background-color: white;
  color: rgb(4, 121, 255);
  padding-bottom: 15px;
  width: 100px;
  font-weight: 500;
  border: 0.5px solid rgb(216, 216, 216);
}

.signinButton a {
  position: absolute;
  top: 4px;
  right: 10px;
}

.userbtn {
  position: absolute;
  left: 7px;
  top: 6px;
  font-size: 22px;
  color: rgb(4, 121, 255);
}

.optionbtn {
    position: absolute;
    top: 19px;
    right: 150px;
    border: 0;
    background-color: white;
}

.optionbtn:focus {
    outline: 0;
}

.optionbtn:hover {
    cursor: pointer;
}
