.LayoutHeader {
    height: 60px;
    width: 100vw;
}

.LayoutBody {
    width: 100vw;
}

.homeIcon {
    font-size: 20px;
    position: absolute;
    top: 17px;
    left: 45px;
    color: red;
}

.homeIcon:hover {
    color: red;
}

.sidebarBox > div > h3 {
    font-weight: bold;
}

.youtube {
    font-weight: bold;
    left: 66px;
    color: black;
    position: absolute;
    top: 17.5px;
}

.youtube:hover {
    text-decoration: none;
    color: rgb(48, 48, 48);
}

.homeMenu {
    color: black;
    position: absolute;
    top: 20px;
}

.homeMenu:hover {
    color: rgb(48, 48, 48);
}

.sidebarBox {
    background-color: white;
    text-align: left;
    padding-top: 20px;
}

.searchbarBox {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 12px;
}

.signinBox {
    background-color: white;
    text-align: right;
    padding-top: 13px;
}

.playerBox {
    background-color: rgb(0, 217, 0);
    text-align: center;
}

.suggestionBox {
    background-color: yellow;
    text-align: center;
}