.typeAheadContainer {
  align-items: center;
  width: 52vw;
  position: relative;
}

.typeAhead {
  position: absolute;
  right: 7vw;
  left: 7vw;
  width: 42vw;
}

.typeAheadContainer input {
  border-radius: 25px;
}

.typeAheadContainer input:focus {
  box-shadow: 0 0 0 0.07rem rgba(0,123,255,.25);  
}

.typeAheadContainer button {
  border-radius:0 25px 25px 0;
  position: absolute;
  top: 1px;
  right: 3.10vw;
  height: 94%;
  background-color: rgb(245, 245, 245);
  color: black;
}

.typeAheadContainer button:hover {
  background-color: rgb(236, 236, 236);
}

.mcp button {
  position: absolute;
  height: 40px;
  border-radius: 20px;
  width: 40px;
  top: 1.6vh;
  left: 51.5vw ;
  background-color: white;
  font-size: 1.3rem;
  text-align: center;
  padding-left: 8px;
}

.mcp button:hover {
  background-color: rgb(236, 236, 236);
}

