.videoContainer {
  position: relative;
  padding-right: 5px;
  margin-right: 0;
  padding-left: 0;
  margin-left: 0;
  width: 100%;
}

.verticalScrollable {
  height: calc(100vh - 60px);
  overflow-y: scroll;
  margin-right: 0;
  overflow-x: hidden;
}

.verticalScrollable > .row {
  position: absolute;
  height: 100%;
  overflow-y: scroll;
  margin-right: 0;
}

.videoPlayerTopScroll {
  background-color: red;
  width: 100%;
  height: 50px;
}

.videoStyle {
  background-color: white;
  width: 100%;
  text-align: center;
  position: relative;
  padding-top: 56%;
}

.videoStyleSuggestion {
  border-radius: 15px;
}

.videoStyleSuggestion > div {
  border-radius: 15px;
}

.videoStyleSuggestion iframe {
  border-radius: 15px;
}

.videoStyle > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.videoStyle iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.videoCaption {
  padding-top: 8px;
  margin-top: 7px;
}

.listContainer:hover {
  cursor: pointer;
}

.videoCaption > h5 {
  text-align: left;
  margin-bottom: 2px;
}

.flexContainer {
  display: flex;
  background-color: white;
  height: 100%;
  padding-top: 15px;
  gap: 5px;
}

.flexContainer > div {
  background: white;
  border-radius: 5px;
}

.item1 {
  flex-grow: 2;
  text-align: left;
}

.item22 {
  flex-grow: 3;
  padding-top: 5px;
  text-align: end;
  padding-right: 2px;
}

.profile {
  position: relative;
  margin-top: 0;
  font-size: 35px;
}

.profileName {
  position: absolute;
  top: 0;
  left: 45px;
}

.profileName > div {
  font-size: 13px;
  color: rgb(98, 98, 98);
}

.profileName > h6 {
  padding-top: 3.5px;
  margin-bottom: 1px;
}

.savebtn {
  border-radius: 25px;
  padding-top: 5px;
  height: 42px;
}

.savebtn > svg {
  font-size: 15px;
}

.savebtn path {
  padding: 0;
  margin: 0;
}

.sharebtn {
  border-radius: 25px;
}

.dislikebtn {
  font-size: 20px;
  border-radius: 0 25px 25px 0;
  border-left: 0.5px solid rgb(195, 195, 195);
  padding-bottom: 0;
  width: 60px;
}

.likebtn {
  font-size: 20px;
  border-radius: 25px 0 0 25px;
  border-right: 0.5px solid rgb(195, 195, 195);
  padding-bottom: 0;
  position: relative;
  width: 85px;
  padding-left: 0;
  padding-right: 0;
}

.likebtn a {
  font-size: 15px;
  position: absolute;
  right: 5px;
  top: 7px;
  margin-left: 0;
  padding-left: 7px;
}

.likebtn svg {
  margin-right: 35px;
}

.item2 > button:hover {
  background-color: rgb(225, 225, 225);
}

.videoAbstract {
  background-color: rgb(233, 233, 233);
  border-radius: 7px;
  margin-top: 30px;
}

.videoAbstract span {
  padding: 7px;
  border-radius: 7px;
}

.videoAbstract:hover {
  background-color: rgb(225, 225, 225);
}

.videoAbstract h6 {
  text-align: left;
  margin-bottom: 0;
}

.videoAbstract p {
  text-align: left;
  text-align: justify;
  font-size: 15px;
}

.sortbtn {
  text-align: left;
  position: absolute;
  margin-top: 20px;
}

.sortbtn span {
  padding-right: 30px;
  font-size: 17px;
  font-weight: 490;
}

.sortbtn button {
  font-size: 15px;
  font-weight: 500;
  background-color: white;
}

.category {
  padding-right: 50px;
  margin-bottom: 20px;
  padding-top: 5px;
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  position: relative;
  scrollbar-width: 1px;
  scroll-behavior: smooth;
  width: 100%;
}

.scrollbarWidth {
  width: 100%;
}

.videoListTopScrollShow {
  display: block;
}

.scrollContainer {
  position: relative;
  margin-right: 0;
  padding-right: 0;
  width: 100%;
}

.category::-webkit-scrollbar {
  display: none;
}

.leftScroll {
  padding-top: 9px;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  position: absolute;
  left: 0;
  z-index: 1;
  top: 0;
  -webkit-box-shadow: 20px 0px 25px 15px rgba(255, 255, 255, 1);
  -moz-box-shadow: 20px 0px 25px 15px rgba(255, 255, 255, 1);
  box-shadow: 20px 0px 25px 15px rgba(255, 255, 255, 1);
}

.leftScroll:focus {
  box-shadow: none;
  -webkit-box-shadow: 20px 0px 25px 15px rgba(255, 255, 255, 1);
  -moz-box-shadow: 20px 0px 25px 15px rgba(255, 255, 255, 1);
  box-shadow: 20px 0px 25px 15px rgba(255, 255, 255, 1);
}

.leftScroll:hover {
  background-color: rgb(219, 219, 219);
}

.rightScroll {
  padding-top: 9px;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  position: absolute;
  right: 10px;
  z-index: 1;
  top: 0;
  -webkit-box-shadow: -20px 0px 25px 15px rgba(255, 255, 255, 1);
  -moz-box-shadow: -20px 0px 25px 15px rgba(255, 255, 255, 1);
  box-shadow: -20px 0px 25px 15px rgba(255, 255, 255, 1);
}

.rightScroll:focus {
  box-shadow: none;
  -webkit-box-shadow: -20px 0px 25px 15px rgba(255, 255, 255, 1);
  -moz-box-shadow: -20px 0px 25px 15px rgba(255, 255, 255, 1);
  box-shadow: -20px 0px 25px 15px rgba(255, 255, 255, 1);
}

.rightScroll:hover {
  background-color: rgb(219, 219, 219);
}

.categoryButtons {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 10px;
  margin-right: 15px;
}

.categoryButtons:hover {
  background-color: rgb(211, 211, 211);
}

.categoryButtons:focus {
  background-color: black;
  color: white;
  text-decoration: none;
  box-shadow: none;
}

.showButton {
  display: block;
}

.hideButton {
  display: none;
}

.listContainer {
  display: flex;
  height: 100%;
}

.item2 {
  font-size: 12px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 70px;
  flex-grow: 1;
  text-align: start;
}

.item2 p {
  margin-bottom: 5px;
}

.item2 h6 {
  margin-bottom: 3px;
  font-size: 12px;
  color: rgb(122, 122, 122);
}
