.videoStyle {
  height: 100%;
  width: 100%;
}

.videoStyle > div {
  height: 100%;
  width: 100%;
}

.videoCaption {
  padding-top: 8px;
}

.videoCaption > h5 {
  text-align: left;
}

.flexContainer {
  display: flex;
  background-color: white;
  height: 100%;
  padding-top: 2px;
  gap: 5px;
}

.flexContainer > div {
  background: white;
  border-radius: 5px;
}

.item1 {
  flex-grow: 1;
  text-align: left;
}

.item2 {
  flex-grow: 1;
  text-align: right;
}
